body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
}

.white-key {
    height: 400px;
    width: 60px;
    border: solid 1px black;
    position: relative;
    z-index: 0;
    border-radius:0px 0px 10px 10px;
    box-shadow: -3px -3px 6px rgba(255,255,255,0.9),
    3px 3px 5px rgba(0,0,0,0.7);
}

.black-key {
    height: 250px;
    width: 40px;
    background-color: black;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    z-index: 1;
    border-radius:10px;
    box-shadow: -3px -3px 6px rgba(255,255,255,0.9),
    3px 3px 5px rgba(0,0,0,0.7);
}

.white-key-pressed {
    background-color: yellow
}